Repository CityofToronto/bdit_data-sources, pull requests merged in 2020-11, with the labels that each got.

#346 Fix Miovision API Puller Bugs
  volumes/miovision/api/intersection_tmc.py
Labels: Miovision, bug

#333 Airflow documentation
  dags/readme.md
Labels: Documentation

#357 Fix missing timebin issue with daterange (#355).
  volumes/miovision/api/intersection_tmc.py
Labels: Miovision, bug

#364 Modernize WYS Airflow
  dags/pull_wys.py
  wys/api/python/wys_api.py
Labels: WYS
