Repository CityofToronto/bdit_data-sources, pull requests merged in 2023-12, with the labels that each got.

#784 remove all mapversion from here api scripts
  here/traffic/here_api.py
  here/traffic/here_api_path.py
Labels: here

#789 788 `pull_miovision.check_partitions.create_month_partition` jinja templating bug
  dags/pull_miovision.py
  dags/vds_pull_vdsdata.py
  dags/vds_pull_vdsvehicledata.py
Labels: Miovision, RESCU

#766 #741 add checks if intersections active
  volumes/miovision/api/intersection_tmc.py
Labels: bug, Miovision

#790 Remove the outdated Pipfile
  Pipfile
Labels: enhancement
