Repository CityofToronto/bdit_data-sources, pull requests merged in 2023-06, with the labels that each got.

#509 Weather pipeline
  .gitignore
  Pipfile
  dags/pull_weather.py
  weather/README.md
  weather/backfill_historical.py
  weather/csv_import.py
  weather/historical_scrape.py
  weather/prediction_import.py
  weather/sql/create_table_historical_daily_airport.sql
  weather/sql/create_table_historical_daily_city.sql
  weather/sql/create_table_prediction_daily.sql
Labels: Weather

#633 Convert DAG owners list into comma separated string
  dags/check_miovision.py
  dags/check_rescu.py
  dags/collisions_replicator_transfer.py
  dags/eoy_create_tables.py
  dags/gcc_layers_pull.py
  dags/log_cleanup.py
  dags/pull_here.py
  dags/pull_miovision.py
  dags/pull_wys.py
  dags/refresh_wys_monthly.py
  dags/traffic_signals.py
  dags/traffic_transfer.py
  dags/vz_google_sheets.py
Labels: bug

#611 Correct docs regarding miovision streetcar classification
  volumes/miovision/README.md
Labels: Miovision, Documentation

#576 Col doc
  collisions/GettingStarted.md
  collisions/Readme.md
  collisions/collisions_acc_safe_copy.sql
Labels: Documentation

#618 Make `text_to_centreline` more case-insensitive
  gis/text_to_centreline/sql/function-text_to_centreline.sql
Labels: gis
