Repository CityofToronto/bdit_data-sources, pull requests merged in 2023-10, with the labels that each got.

#701 #699 remove personal schema dependency on the miovision tcl conflation table
  volumes/miovision/sql/create-mv-mio_cent.sql
Labels: Miovision

#646 Rescu itscentral pipeline
  README.md
  dags/custom_operators.py
  dags/vds_pull_vdsdata.py
  dags/vds_pull_vdsvehicledata.py
  volumes/README.md
  volumes/rescu/README.md
  volumes/vds/exploration/compare_rescu_vds.sql
  volumes/vds/exploration/div2 sensors - august 2023.png
  volumes/vds/exploration/div8001-aug2023-non zero volume.PNG
  volumes/vds/exploration/div8001-aug2023-zero volume.PNG
  volumes/vds/exploration/explore_vdsdata.ipynb
  volumes/vds/exploration/explore_vdsvehicledata.ipynb
  volumes/vds/exploration/time_gaps.sql
  volumes/vds/py/vds_functions.py
  volumes/vds/readme.md
  volumes/vds/sql/adhoc_updates/update-incorrect_expected_bins.sql
  volumes/vds/sql/adhoc_updates/update-missing_fkeys_vdsdata.sql
  volumes/vds/sql/adhoc_updates/update-missing_fkeys_vdsvehicledata.sql
  volumes/vds/sql/delete/delete-counts_15min.sql
  volumes/vds/sql/delete/delete-counts_15min_bylane.sql
  volumes/vds/sql/delete/delete-veh_length_15min.sql
  volumes/vds/sql/delete/delete-veh_speeds_15min.sql
  volumes/vds/sql/functions/create-function-partition_vds_yyyy.sql
  volumes/vds/sql/functions/create-function-partition_vds_yyyymm.sql
  volumes/vds/sql/insert/backfill_v15_from_rescu.sql
  volumes/vds/sql/insert/backfill_v15_from_rescu_Allen.sql
  volumes/vds/sql/insert/insert_counts_15min.sql
  volumes/vds/sql/insert/insert_counts_15min_bylane.sql
  volumes/vds/sql/insert/insert_veh_lengths_15min.sql
  volumes/vds/sql/insert/insert_veh_speeds_15min.sql
  volumes/vds/sql/select/select-daily_detector_summary.sql
  volumes/vds/sql/select/select-itsc_entitylocations.sql
  volumes/vds/sql/select/select-itsc_vdsconfig.sql
  volumes/vds/sql/select/select-itsc_vdsdata.sql
  volumes/vds/sql/select/select-itsc_vdsdata_dst_safe.sql
  volumes/vds/sql/select/select-itsc_vdsvehicledata.sql
  volumes/vds/sql/select/select-itsc_vdsvehicledata_dst_safe.sql
  volumes/vds/sql/select/select-row_count_lookback.sql
  volumes/vds/sql/sequences/sequence-counts_15min_bylane_volumeuid_seq.sql
  volumes/vds/sql/sequences/sequence-counts_15min_volumeuid_seq.sql
  volumes/vds/sql/sequences/sequence-raw_vdsdata_volume_uid_seq.sql
  volumes/vds/sql/sequences/sequence-raw_vdsvehicledata_volume_uid_seq.sql
  volumes/vds/sql/sequences/sequence-veh_length_15min_uid_seq.sql
  volumes/vds/sql/sequences/sequence-veh_speeds_15min_uid_seq.sql
  volumes/vds/sql/tables/create-table-counts_15min.sql
  volumes/vds/sql/tables/create-table-counts_15min_bylane.sql
  volumes/vds/sql/tables/create-table-detector_inventory_cursed.sql
  volumes/vds/sql/tables/create-table-raw_vdsdata.sql
  volumes/vds/sql/tables/create-table-raw_vdsvehicledata.sql
  volumes/vds/sql/tables/create-table-vds_entity_locations.sql
  volumes/vds/sql/tables/create-table-vdsconfig.sql
  volumes/vds/sql/tables/create-table-veh_length_15min.sql
  volumes/vds/sql/tables/create-table-veh_speeds_15min.sql
  volumes/vds/sql/trigger/create-trigger-add_vds_fkeys.sql
  volumes/vds/sql/views/create-view-counts_15min_div8001.sql
  volumes/vds/sql/views/create-view-detector_inventory.sql
  volumes/vds/vds_pull_vdsdata_dag.png
  volumes/vds/vds_pull_vdsvehicledata_dag.png
Labels: Volume, RESCU, Airflow

#671 Document streetcar classification change
  volumes/miovision/README.md
Labels: Miovision

#659 Add Long-term Mobile WYS Signs
  dags/pull_wys.py
  dags/refresh_wys_monthly.py
  wys/api/python/wys_google_sheet.py
  wys/api/sql/create-table-mobile_sign_installations.sql
  wys/api/sql/create-table-mobile_sign_installations_dupes.sql
  wys/api/sql/create-table-mobile_summary.sql
  wys/api/sql/create-table-raw_data_children.sql
  wys/api/sql/create-table-speed_counts.sql
  wys/api/sql/create-table-speed_counts_agg.sql
  wys/api/sql/function-aggregate_speed_counts_one_hour_5kph.sql
  wys/api/sql/function-clear_mobile-summary.sql
  wys/api/sql/function-mobile-summary.sql
  wys/api/sql/mat-view-mobile_api_id.sql
  wys/api/sql/open_data/view-mobile_detailed.sql
  wys/api/sql/open_data/view-stationary-summary.sql
  wys/api/sql/open_data/view-stationary_detailed.sql
  wys/api/sql/open_data/view-wys_mobile_summary.sql
Labels: enhancement, WYS

#725 716 add a data volume check to pull wys task
  dags/pull_wys.py
  wys/api/sql/select-api_id_count_lookback.sql
  wys/api/sql/select-row_count_lookback.sql
Labels: enhancement, WYS
