Repository CityofToronto/bdit_data-sources, pull requests merged in 2024-02, with the labels that each got.

#853 835 add agg param to miovision run api
  dags/miovision_pull.py
  volumes/miovision/api/intersection_tmc.py
Labels: enhancement, Miovision

#857 #856 change trigger rules of create_month_partition
  dags/miovision_pull.py
  dags/pull_wys.py
Labels: bug, Miovision, WYS, Airflow

#823 #630 detect zero miovision volume counts automagically
  dags/miovision_pull.py
  volumes/miovision/README.md
  volumes/miovision/api/intersection_tmc.py
  volumes/miovision/sql/function/function-identify-zero-counts.sql
  volumes/miovision/sql/table/create-table-anomaly_investigation_levels.sql
  volumes/miovision/sql/table/create-table-anomaly_problem_levels.sql
  volumes/miovision/sql/table/create_anomalous_ranges.sql
Labels: enhancement, Miovision

#783 780 create a daily miovision table for data collection
  volumes/miovision/README.md
  volumes/miovision/sql/function/function-aggregate-volumes_daily.sql
  volumes/miovision/sql/function/function-aggregate_volumes_daily.sql
  volumes/miovision/sql/table/create-table-volumes_daily.sql
  volumes/miovision/sql/table/create-table-volumes_daily_unfiltered.sql
  volumes/miovision/sql/views/create-view-volumes_daily.sql
Labels: Miovision

#863 #862 much faster version of aggregate_15_min_mvt
  volumes/miovision/sql/function/function-aggregate-volumes_15min_mvt.sql
Labels: enhancement, Miovision

#836 832 miovision readme updates
  volumes/miovision/Archive.md
  volumes/miovision/README.md
  volumes/miovision/api/img/api_script1.png
  volumes/miovision/api/img/functions.png
  volumes/miovision/api/img/others.png
  volumes/miovision/api/img/python_functions.png
  volumes/miovision/api/img/tables_1.png
  volumes/miovision/api/img/tables_2.png
  volumes/miovision/api/readme.md
  volumes/miovision/geojson/mio_intersections.geojson
  volumes/miovision/img/king_bay_camera.png
  volumes/miovision/img/miovision_king_spadina.png
  volumes/miovision/sql/README.md
  volumes/miovision/sql/function/function-aggregate-volumes_15min.sql
  volumes/miovision/sql/function/function-aggregate-volumes_15min_mvt.sql
  volumes/miovision/sql/function/function-api_log.sql
  volumes/miovision/sql/function/function-clear-api_log.sql
  volumes/miovision/sql/function/function-clear-report_dates.sql
  volumes/miovision/sql/function/function-clear-volumes.sql
  volumes/miovision/sql/function/function-clear-volumes_15min.sql
  volumes/miovision/sql/function/function-clear-volumes_15min_mvt.sql
  volumes/miovision/sql/function/function-create_mm_nested_volumes_partitions.sql
  volumes/miovision/sql/function/function-create_yyyy_volumes_15min_partition.sql
  volumes/miovision/sql/function/function-create_yyyy_volumes_partition.sql
  volumes/miovision/sql/function/function-determine_working_machine.sql
  volumes/miovision/sql/function/function-find_invalid_movements.sql
  volumes/miovision/sql/function/function-get_intersection_uids.sql
  volumes/miovision/sql/function/function-get_report_dates.sql
  volumes/miovision/sql/function/function-identify-zero-counts.sql
  volumes/miovision/sql/table/create-mv-mio_cent.sql
  volumes/miovision/update_intersections/Readme.md
  volumes/miovision/update_intersections/geojson_export.png
  volumes/miovision/update_intersections/new_intersection_activation_dates.ipynb
Labels: Miovision, Documentation

#881 #880 update sql used to add to intersection_movements
  volumes/miovision/update_intersections/Readme.md
Labels: Miovision, Documentation

#876 #867 add AR notes to volumes_daily
  volumes/miovision/sql/views/create-view-volumes_daily.sql
Labels: enhancement, Miovision

#877 #874 add miovision breaks (discontinuities) table
  volumes/miovision/sql/README.md
  volumes/miovision/sql/table/create-table-breaks.sql
Labels: Miovision

#808 Uncomment updating the intersection table in the GCC Puller DAG
  dags/gcc_layers_pull.py
Labels: bug

#800 Upgrade SSZ DAG
  dags/vz_google_sheets.py
  gis/school_safety_zones/README.md
  gis/school_safety_zones/schools.py
Labels: Vision Zero
