Repository CityofToronto/bdit_data-sources, pull requests merged in 2024-05, with the labels that each got.

#940 Feat/vds commdeviceconfig
  dags/vds_pull_vdsdata.py
  volumes/vds/py/vds_functions.py
  volumes/vds/readme.md
  volumes/vds/sql/select/select-itsc_commdeviceconfig.sql
  volumes/vds/sql/tables/create-table-config_comms_device.sql
  volumes/vds/sql/views/create-view-detector_inventory.sql
Labels: New Data, RESCU

#901 890 vz_google_sheets DAG: stop loading older years
  dags/vz_google_sheets.py
  gis/school_safety_zones/README.md
  gis/school_safety_zones/dag_structure.png
Labels: Vision Zero

#886 854 miovision `open_issues` for tracking and communication
  dags/common_tasks.py
  dags/dag_functions.py
  dags/miovision_check.py
  volumes/miovision/api/readme.md
  volumes/miovision/sql/data_checks/select-open_issues.sql
  volumes/miovision/sql/views/create-view-open_issues.sql
Labels: enhancement, Miovision

#942 Clean up the Ecocounter docs
  volumes/ecocounter/readme.md
Labels: Documentation

#887 874 add leg to anomalous ranges
  volumes/miovision/sql/README.md
  volumes/miovision/sql/function/function-identify-zero-counts.sql
  volumes/miovision/sql/table/create_anomalous_ranges.sql
Labels: Miovision

#948 947 add new miovision intersections on eglinton
  volumes/miovision/geojson/mio_intersections.geojson
Labels: Miovision

#931 913 ecocounter data checks
  dags/ecocounter_check.py
  dags/ecocounter_pull.py
  dags/sql/select-row_count_lookback.sql
  volumes/ecocounter/data_checks/select-ongoing_outages.sql
  volumes/ecocounter/data_checks/select-unvalidated_sites.sql
  volumes/ecocounter/readme.md
  weather/sql/create-function_airport_weather_summary.sql
Labels: Ecocounter

#970 #969 add row number to gis_core latest mat views
  gis/centreline/sql/create_matview_centreline_intersection_point_latest.sql
  gis/centreline/sql/create_matview_centreline_latest.sql
  gis/centreline/sql/create_matview_intersection_latest.sql
Labels: bug, gis
