Repository CityofToronto/bdit_data-sources, pull requests merged in 2024-08, with the labels that each got.

#1030 #960 note for movement_uid = 7 about ttc row monitoring
  volumes/miovision/sql/readme.md
Labels: Miovision, Documentation

#1031 #620 add pavement_asset layer
  dags/gcc_layers_pull.py
  gis/gccview/gcc_puller_functions.py
Labels: gis

#1034 #1033 update constraints and requirement files
  constraints.txt
  requirements.in
  requirements.txt
Labels: Airflow

#1036 719 wysraw data speed count uid is not being assigned correctly
  wys/api/sql/create-table-raw_data.sql
  wys/api/sql/function-aggregate_speed_counts_one_hour_5kph.sql
Labels: bug, WYS

#1042 #1041 add new tti aggregation dag
  dags/tti_aggregate.py
Labels: here, Airflow

#626 I0617 rescu sensors eval
  volumes/rescu/README.md
  volumes/rescu/sql/create-table-detector_inventory.sql
  volumes/rescu/sql/create-table-raw_15min.sql
  volumes/rescu/sql/create-table-volumes_15min.sql
  volumes/rescu/sql/create-trigger-function-populate_volumes_15min.sql
  volumes/rescu/sql/populate-table-volumes_15min.sql
  volumes/vds/readme.md
  volumes/vds/sql/views/create-view-individual-outages.sql
  volumes/vds/sql/views/create-view-network-outages.sql
Labels: RESCU

#1040 #1039 remove limited lookback window in intersection outages check
  volumes/miovision/sql/data_checks/select-ongoing_intersection_outages.sql
Labels: Miovision
