Repository CityofToronto/bdit_data-sources, pull requests merged in 2024-11, with the labels that each got.

#1094 #1093 Fix miovision datetime bug
  volumes/miovision/api/intersection_tmc.py
Labels: Miovision

#1083 #1082 upgrade airflow to 2.10.2
  constraints.txt
  requirements.in
  requirements.txt
Labels: Airflow

#1092 Fix #1091 by properly filtering one-way streets
  gis/centreline/readme.md
  gis/centreline/sql/create_view_routing_centreline_directional.sql
Labels: gis

#1102 #1101 Repull days without all bins present
  volumes/ecocounter/functions/create-function-identify-outages.sql
Labels: Ecocounter
