Repository CityofToronto/bdit_data-sources, pull requests merged in 2024-12, with the labels that each got.

#1089 #1086 switch alerts to use custom operator
  dags/bluetooth_check_readers_temp.py
Labels: Bluetooth, Airflow

#1074 1073 here pull token expired error
  dags/pull_here.py
  dags/pull_here_path.py
  here/traffic/here_api.py
  here/traffic/here_api_path.py
Labels: bug, here, Airflow

#1111 Bugfix #1092 mismatch in cost vs cost_length
  gis/centreline/sql/create_function_get_centreline_btwn_intersections.sql
Labels: bug, gis
