Repository CityofToronto/bdit_data-sources, pull requests merged in 2024-06, with the labels that each got.

#968 #966 add centreline_id to ecocounter.sites and sites_unfiltered
  volumes/ecocounter/readme.md
  volumes/ecocounter/tables/sites_unfiltered.sql
  volumes/ecocounter/updates/ecocounter_centreline_updates.sql
  volumes/ecocounter/views/create-view-sites.sql.sql
Labels: Ecocounter

#965 964 insert old rescu data from trafficcnt det into vds
  volumes/vds/sql/insert/backfill_v15_from_cnt_det.sql
Labels: RESCU

#957 953 reduce notification frequency to weekly
  dags/ecocounter_check.py
  dags/miovision_check.py
  volumes/ecocounter/data_checks/select-ongoing_outages.sql
  volumes/ecocounter/data_checks/select-unvalidated_sites.sql
  volumes/miovision/sql/data_checks/select-ongoing_intersection_outages.sql
Labels: Miovision, Ecocounter

#955 923 vds centreline equivalency table
  dags/vds_check.py
  dags/vds_pull_vdsdata.py
  volumes/vds/img/centreline_vds_manual_edits.png
  volumes/vds/img/vds_pull_vdsdata_dag.png
  volumes/vds/img/vds_pull_vdsvehicledata_dag.png
  volumes/vds/py/vds_functions.py
  volumes/vds/readme.md
  volumes/vds/sql/adhoc_updates/update-missing_fkeys_vdsdata.sql
  volumes/vds/sql/adhoc_updates/update-missing_vds_centreline.sql
  volumes/vds/sql/insert/backfill_v15_from_rescu.sql
  volumes/vds/sql/insert/backfill_v15_from_rescu_Allen.sql
  volumes/vds/sql/insert/insert_commdeviceconfig.sql
  volumes/vds/sql/insert/insert_counts_15min.sql
  volumes/vds/sql/insert/insert_counts_15min_bylane.sql
  volumes/vds/sql/insert/insert_entity_locations.sql
  volumes/vds/sql/insert/insert_raw_vdsdata.sql
  volumes/vds/sql/insert/insert_vdsconfig.sql
  volumes/vds/sql/select/select-missing_centreline.sql
  volumes/vds/sql/select/select-missing_expected_bins.sql
  volumes/vds/sql/tables/create-table-centreline_vds.sql
  volumes/vds/sql/tables/create-table-last_active.sql
  volumes/vds/sql/tables/create-table-vds_entity_locations.sql
  volumes/vds/sql/views/create-view-counts_15min_div8001.sql
  volumes/vds/sql/views/create-view-detector_inventory.sql
Labels: enhancement, RESCU

#972 971 miovision 15 minute views that filter out anomalous ranges
  volumes/miovision/sql/readme.md
  volumes/miovision/sql/table/create-table-volumes_15min.sql
  volumes/miovision/sql/table/create-table-volumes_15min_mvt.sql
  volumes/miovision/sql/views/create-view-volumes_15min_filtered.sql
  volumes/miovision/sql/views/create-view-volumes_15min_mvt_filtered.sql
Labels: Miovision

#976 975 weather DAG task flow plus schedule change
  dags/common_tasks.py
  dags/dag_functions.py
  dags/ecocounter_pull.py
  dags/miovision_pull.py
  dags/pull_weather.py
  dags/vds_pull_vdsdata.py
  dags/vds_pull_vdsvehicledata.py
  dags/weather_pull.py
  volumes/ecocounter/readme.md
  volumes/miovision/api/readme.md
  volumes/vds/readme.md
  weather/README.md
  weather/historical_scrape.py
  weather/prediction_import.py
  weather/sql/create-function_airport_weather_summary.sql
  weather/sql/select-historical_all_nulls.sql
  weather/weather_pull_graph.png
Labels: Weather

#961 #954 Add Citywide TTI DAG
  dags/citywide_tti_aggregate.py
Labels: here

#983 973 ecocounter investigate discrepency between bigdata and online dashboard tools
  dags/ecocounter_pull.py
  volumes/ecocounter/pull_data_from_api.py
Labels: bug, Ecocounter

#988 987 ecocounter first active and last active columns
  volumes/ecocounter/functions/function-fn_update_last_active.sql
  volumes/ecocounter/readme.md
  volumes/ecocounter/tables/counts_unfiltered.sql
  volumes/ecocounter/tables/flows_unfiltered.sql
  volumes/ecocounter/tables/sites_unfiltered.sql
  volumes/ecocounter/views/create-view-flows.sql
  volumes/ecocounter/views/create-view-sites.sql
Labels: enhancement, Ecocounter

#828 I810 move match
  volumes/short_term_counting_program/move_match/readme.md
  volumes/short_term_counting_program/move_match/speedvol_stats.sql
  volumes/short_term_counting_program/move_match/tmc_stats.sql
Labels: Volume, MOVE

#994 645 replication processes check if data
  dags/dag_functions.py
  dags/replicators.py
Labels: enhancement

#996 Corrected bugs in `ecocounter.counts` view definition
  volumes/ecocounter/views/create-view-counts.sql
Labels: bug, Ecocounter

#997 Filter anomalous ranges from Ecocounter `counts`
  volumes/ecocounter/readme.md
  volumes/ecocounter/views/create-view-counts.sql
Labels: Ecocounter

#998 #952 replicate using destination columns instead of source columns
  dags/common_tasks.py
Labels: collisions, traffic

#993 #992 fix vds detector_loc formula
  volumes/vds/sql/views/create-view-detector_inventory.sql
Labels: bug, RESCU

#991 #990 update schedule + execution_delta
  dags/ecocounter_check.py
Labels: bug, Ecocounter

#845 Document the centreline data
  gis/README.md
  gis/assets/sql/traffic_signals.sql
  gis/centreline/readme.md
Labels: gis, Documentation

#1001 Update constraints and requirements file for airflow 2.9.2
  constraints.txt
  requirements.in
  requirements.txt
Labels: Airflow

#1005 #980 update logical date and switch to task bash
  dags/pull_here.py
Labels: Airflow
