Repository CityofToronto/bdit_data-sources, pull requests merged in 2024-07, with the labels that each got.

#1011 #1010 Update codeql and checkout actions to latest major versions
  .github/workflows/codeql.yml
Labels: bug, Github Actions

#1012 #634 Minor classifications readme.md update
  volumes/miovision/sql/readme.md
Labels: Miovision, Documentation

#797 Add GitHub action to check for DAG import errors
  .github/workflows/test_dags.yml
  dags/dag_functions.py
  dags/eoy_create_tables.py
  requirements.in
  requirements.txt
  test/integration/test_dags.py
  volumes/miovision/api/pull_alert.py
Labels: enhancement, Github Actions

#1003 #1002 implement map_index_template in replicator, vz_google_sheets
  dags/common_tasks.py
  dags/replicators.py
  dags/vz_google_sheets.py
Labels: Airflow

#1017 Fix miovision example sql
  volumes/miovision/getting_started.md
Labels: Miovision, Documentation

#1016 #945 update dags folder readme.md
  dags/readme.md
Labels: Documentation, Airflow

#1020 Gis text to centreline fluff
  gis/text_to_centreline/sql/function-centreline_case1.sql
  gis/text_to_centreline/sql/function-centreline_case2.sql
  gis/text_to_centreline/sql/function-clean_bylaws_text.sql
  gis/text_to_centreline/sql/function-get_entire_length.sql
  gis/text_to_centreline/sql/function-get_intersection_geom.sql
  gis/text_to_centreline/sql/function-get_lines_btwn_interxn.sql
  gis/text_to_centreline/sql/function-text_to_centreline.sql
  gis/text_to_centreline/sql/function-text_to_centreline_geom.sql
  gis/text_to_centreline/sql/helper_functions/function-abbr_street.sql
  gis/text_to_centreline/sql/helper_functions/function-bylaws_get_id_to_route.sql
  gis/text_to_centreline/sql/helper_functions/function-bylaws_route_id.sql
  gis/text_to_centreline/sql/helper_functions/function-get_intersection_id.sql
  gis/text_to_centreline/sql/helper_functions/function-get_intersection_id_highway_equals_btwn.sql
  gis/text_to_centreline/sql/helper_functions/function-translate_intersection_point.sql
Labels: gis

#852 Create view combining flow counts with those of their replacement sensors
  volumes/ecocounter/readme.md
  volumes/ecocounter/views/create-view-combined_flows.sql
Labels: enhancement, Ecocounter

#1021 1015 `gis.text_to_centreline` broken by move to `gis_core`
  gis/text_to_centreline/sql/function-centreline_case1.sql
  gis/text_to_centreline/sql/function-centreline_case2.sql
  gis/text_to_centreline/sql/function-clean_bylaws_text.sql
  gis/text_to_centreline/sql/function-get_entire_length.sql
  gis/text_to_centreline/sql/function-get_intersection_geom.sql
  gis/text_to_centreline/sql/function-get_lines_btwn_interxn.sql
  gis/text_to_centreline/sql/function-text_to_centreline.sql
  gis/text_to_centreline/sql/function-text_to_centreline_geom.sql
  gis/text_to_centreline/sql/helper_functions/function-bylaws_route_id.sql
  gis/text_to_centreline/sql/helper_functions/function-get_intersection_id.sql
  gis/text_to_centreline/sql/helper_functions/function-get_intersection_id_highway_equals_btwn.sql
Labels: bug, gis

#1026 Change intersection_uid to id in ongoing_outages select
  volumes/miovision/sql/data_checks/select-ongoing_intersection_outages.sql
Labels: Miovision

#1014 984 ecocounter pull recent outages
  dags/ecocounter_pull.py
  volumes/ecocounter/functions/create-function-identify-outages.sql
  volumes/ecocounter/pull_data_from_api.py
  volumes/ecocounter/readme.md
  volumes/ecocounter/tables/flows_unfiltered.sql
  volumes/ecocounter/tables/sites_unfiltered.sql
  volumes/ecocounter/views/create-view-flows.sql
  volumes/ecocounter/views/create-view-sites.sql
Labels: enhancement, Ecocounter
