Repository CityofToronto/bdit_data-sources, pull requests merged in 2025-05, with the labels that each got.

#1212 Add from/to "intersection" node IDs to SVC directions view
  volumes/short_term_counting_program/sql/create-view-svc_centreline_directions.sql
Labels: Volume, gis

#1181 #1162 Open Data - data checks DAG
  dags/open_data_checks.py
Labels: enhancement, Airflow, open data

#1218 Slightly expand documentation of `gis_core.centreline(_latest)`
  gis/centreline/readme.md
Labels: Documentation
